<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SJTA Home page</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/business-casual.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
    <link rel="manifest" href="/static/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="body-saffron">
    <a href="/"><img src="/static/img/sjta.jpg" class="hide-on-small" style="float:left;margin-left:26px;margin-top:10px;border-radius:55px;"></a>
    <div class="brand">South Jersey Tamil Association</div>
    <div class="address-bar">வாழிய செந்தமிழ் வளா்க நற்றமிழா்</div>
    <!-- Navigation -->
    <nav class="navbar navbar-default" style="background-color:whitesmoke;border: 2px solid green" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a style="position:absolute;padding:10px;width:80%" class="navbar-brand" href="/">South Jersey Tamil Association</a>
                <!--<span style="position:absolute;padding:10px" class="navbar-brand">South Jersey Tamil Association</span>-->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div style="margin-left:6%" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a data-toggle="dropdown"  href="#">Members<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/member/benefits">Benefits</a></li>
                            <li><a href="/member/how-to-enroll">How to Enroll</a></li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="dropdown" href="#">Events<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/events">Upcoming Events</a></li>
                            <li><a href="/photo-gallery">Photo Galleries</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/announcements">Announcements</a>
                    </li>
                    <li>
                        <a data-toggle="dropdown" href="">About Us<b class="caret"></b></a>
                        <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            Dropdown Example
                            <span class="caret"></span>
                        </button>-->
                        <ul class="dropdown-menu">
                            <li><a href="/about-us">Who We Are</a></li>
                            <li><a href="/board-members">Board Members</a></li>
                            <li><a href="/contact-us">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="box" style="background-color:whitesmoke;border: 2px solid green">
                <div class="col-lg-6 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <a href="http://sjta.info/"><img class="img-responsive img-circle" src="/static/img/slide-1a.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <img class="img-responsive img-circle" src="/static/img/slide-2a.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-circle" src="/static/img/slide-3a.jpg" alt="">
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" style="background-image:none" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" style="background-image:none" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 text-justify hide-on-small">
                    <h1>Top News</h1>
                    <ul style="list-style: square;font-weight:bold">
                        <li>Our new website will be launching on [date]</li>
                        <li>[News two from SJTS]</li>
                        <li>[News three from SJTS]</li>
                        <li>You can view our upcoming events from our <a href="/events">events</a> page</li>
                    </ul>
                </div>
                <div class="col-lg-6 text-center hide-on-large">
                    <h1>Top News</h1>
                    <ul style="list-style: square">
                        <li>Our new website will be launching on [date]</li>
                        <li>[News two from SJTS]</li>
                        <li>[News three from SJTS]</li>
                        <li>You can view our upcoming events from our <a href="/events">events</a> page</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box" style="background-color:whitesmoke;border: 2px solid green">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Who we are and what we do
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="/static/img/intro-pic-sjta.jpg" alt="">
                    <hr class="visible-xs">
                    <p>South Jersey Tamil Association (SJTA) is a volunteer-based, non-profit, charitable, secular organization. 
                        It is organized to promote Tamil education among the children in New Jersey of the United States of America.
                    </p>
                    <p>
                        A SJTA volunteer has been teaching Tamil for the last 10 years. Tamil classes are conducted in every Friday for ages 4 and above kids. Based on the age and Tamil proficiency of the children, various levels of classes are organized and offered.
                    </p>
                    <p>
                        For the current year SJTA teaches around 40 kids in 4 different levels. SJTA follows TVA curriculum and focuses on appearing for TVA exams as a goal. In year 2010, 18 students took part in TVA basic exam and earned TVA basic level certification. The
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="box" style="background-color:whitesmoke;border: 2px solid green">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Gallery
                    </h2>
                    <hr>
                    <p>Some of the images from our recent functions are shown below. You can go our <a href="#">galleries</a> page to view more albums</p>
                    <div class="col-md-4 col-sm-6" style="margin-top:5px">
                        <a href="/photo-gallery"><img class="img-responsive img-portfolio img-hover" src="/static/img/slide-1a.jpg" alt="gallery image1" /></a>
                    </div>
                    <div class="col-md-4 col-sm-6" style="margin-top:5px">
                        <a href="/photo-gallery"><img class="img-responsive img-portfolio img-hover" src="/static/img/slide-2a.jpg" alt="gallery image1" /></a>
                    </div>
                    <div class="col-md-4 col-sm-6" style="margin-top:5px">
                        <a href="/photo-gallery"><img class="img-responsive img-portfolio img-hover" src="/static/img/slide-3a.jpg" alt="gallery image1" /></a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
    <footer style="background-color:whitesmoke;border: 2px solid green">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; SJTA 2016</p>
                </div>
                <div>
                    <!-- Start of SimpleHitCounter Code -->
                    <div align="center"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=2111426&f=255&b=65535" border="0" height="18" width="83" alt="web counter"></a><br><a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;">visitors</a></div>
                    <!-- End of SimpleHitCounter Code -->

                </div>
            </div>
        </div>
    </footer>
    <aside id="sticky-social">
        <ul>
            <li><a href="#" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
            <li><a href="#" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
            <li><a href="#" class="entypo-gplus" target="_blank"><span>Google+</span></a></li>
            <li><a href="#" class="entypo-linkedin" target="_blank"><span>LinkedIn</span></a></li>
            <li><a href="#" class="entypo-instagrem" target="_blank"><span>Instagram</span></a></li>
            <li><a href="#" class="entypo-pinterest" target="_blank"><span>Pinterest</span></a></li>
            <li><a href="#" class="entypo-flickr" target="_blank"><span>Flickr</span></a></li>
        </ul>
    </aside>
    <div id="progress"></div>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/sjta.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</body>
</html>
